@import 'variables';

@function anchoColumnas($columns) {
  @return percentage(($columns/12));
}

@for $numColumna from 1 through 12 {
  .col-#{$numColumna}{
    width: anchoColumnas($numColumna);
  }
}

@for $numColumna from 1 through 12{
  .col-#{$numColumna}-offset{
    margin-left:anchoColumnas($numColumna)
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.row {
  &:before{
    content: " ";
    display: table;
  }
  &:after{
    @extend .row:before;
    clear: both;
  }
}

[class*="col-"]{
  min-height: 7px;
  padding: 12px;
  float: left;
}

.whatWeDo {
  background-color: $color-green;
  color: $color-text;
  text-align: center;
  &__division {
    border-top: 2px solid $color-text;
  }
  &__imagesDesign {
    background: linear-gradient(to right, $color-gray 50%, $color-blue 100%);
  }
  &__button {
    background-color: darken($color-gray, 35%);
    color: $color-text;
    padding: 2%;
  }
  &__imgTeam {
    width: 80%;
  }
}
